body{
    margin: 0;
}

@media (max-width: 768px) {
    .react-quill {
      width: 90vw !important;
    }
    .popup-info {
      display: none; /* Oculta la información adicional en dispositivos móviles */
    }
    .font-s{
      font-size: 13px;
    }
    .img-size{
      height: 80px;
      width: 275px;
    }
  }
